<link rel="stylesheet" href="/css/home.css">
<h1>
            Codeial / <%= title %>        
</h1>
<div id="container">
<section id="feedpost">
    <h2>Posts</h2>
    <% if(locals.user){ %>
    <form action="/post/create" method="POST">
        <textarea name="content" id="" cols="30" rows="3"></textarea><br>
        <input type="submit" value="POST!!">
    </form>
    <% } %>
    <div id="posts-list" >
        <ul>
         <% for (post of posts) { %>
            <%- include('_post'); %>
            
         <% } %>
        </ul> 
     
     </div>
     
</section>

<section id="friends-list">
    <span>FRIENDS</span> 
    <% for (u of all_users) { %>
        
        <p>
            <a href="/users/profile/<%= u.id %>"> 
                <%= u.name %>
            </a>
        </p>
    <% } %>
</section>
</div>

