
<h1>
            Codeial / <%= title %>        
</h1>

<section>
    <h4>Posts</h4>
    <form action="" method="POST">
        <textarea name="content" id="" cols="30" rows="3"></textarea>
        <input type="submit" value="POST!!">
    </form>
</section>