        <link rel="stylesheet" href="/css/user_profile.css">
        <a href="/users/signoutsession/">
            SIGN OUT
        </a>
        <div>
            <h2>USER NAME</h2>
            <p><%= user.name %></p>
            
        </div>
