#footer {
  width: 100vw;
  height: auto;
  position: relative;
  top: 100vh;
  display: flex;
  justify-content: flex-start;
  background-color: grey;
  z-index: -1; }
  #footer div {
    margin-top: 10px;
    color: white;
    font-size: 1.5rem; }
    #footer div #list-of-links {
      margin-top: -2%;
      list-style: none; }
      #footer div #list-of-links li {
        transition: all 1s ease-in; }
        #footer div #list-of-links li :hover {
          color: black; }
      #footer div #list-of-links a {
        text-decoration: none;
        color: white; }
