#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  height: 6%;
  padding: 0.5rem;
  background-color: blue; }
  #header #logo {
    font-weight: bolder; }
  #header div {
    padding: 10px; }
  #header div, #header a {
    color: white;
    font-size: 2rem;
    text-decoration: none; }
